<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KonBanegaCrorepati"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".designOfGrid"
            android:exported="false" />
        <activity
            android:name=".PlayerProductList"
            android:exported="false" />
        <activity
            android:name=".PlayerProductWatchOneListView"
            android:exported="false" />
        <activity
            android:name=".PlayerProductWatch"
            android:exported="false" />
        <activity
            android:name=".UpdateDiscountPattern"
            android:exported="false" />
        <activity
            android:name=".OneViewOfPattern"
            android:exported="false" />
        <activity
            android:name=".UpdateProduct"
            android:exported="false" />
        <activity
            android:name=".list_item_product"
            android:exported="false" />
        <activity
            android:name=".DiscountPatternList"
            android:exported="false" />
        <activity
            android:name=".DiscountPattern"
            android:exported="false" />
        <activity
            android:name=".ProductList"
            android:exported="false" />
        <activity
            android:name=".product"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".Rules"
            android:exported="false" />
        <activity
            android:name=".instructionToBeEmbedded"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Result"
            android:exported="false" />
        <activity
            android:name=".Game"
            android:exported="false" />
        <activity
            android:name=".Instructions"
            android:exported="false" />
        <activity
            android:name=".QuestionAddingPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>